
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #282828;
}

.font-mono {
    text-shadow: 2px 2px 2px hsla(0, 5%, 35%, 0.75);
}

.btn.restart {
    animation: centerToLeft .8s ease;
}

.overflow-x-auto::-webkit-scrollbar {
    display: none;
}

.tracking-wide {  /* For time flag <p></p>*/
    animation: opaciti .5s linear;
}

@keyframes opaciti {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.7;
    }
}

@keyframes centerToLeft {
    from {
        left: 50px;
        transform: rotate(180deg);
        z-index: -1;
    }
    to {
        left: 0px;
        transform: rotate(0deg);
        z-index: 1;
    }
}

.btn.flag {
    animation: centerToRight .8s ease;
}

@keyframes centerToRight {
    from {
        right: 50px;
        transform: rotate(180deg);
        z-index: -1;
    }
    to {
        right: 0px;
        transform: rotate(0deg);
        z-index: 1;
    }
}

@tailwind components;
@layer components {
    .btn {
        @apply
        m-1.5
    }
}

.shadow-black {
    border-radius: 10px;
    row-gap: 0.8rem;
}

@media(max-width: 445px) {
    .shadow-black {
        width: 100svw;
        height: 100svh;
        border-radius: 0px;
        row-gap: 4rem;
    }
}
